* {
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 20px;
    padding-right: 20px;
    
    /* background-color: rgba(64, 205, 224, 0.671) */
}

#heading_div {
    
    
}
#heading_background_img {
    width: 500px;
    height: 500px;
    float: right;
    opacity: 0.8;
    /* background-color: rgba(204, 201, 201, 0.822); */
}
h2 {
    
}
p {
    
}
#table1 {
    width: 800px;
    text-align: left;
    
    /* background-color: rgba(190, 94, 228, 0.473); */

}

th, td {
    /* border-bottom: 1px solid;
    border-right: 1px solid; */
}

#main_heading {
    /* background-color: rgba(164, 95, 230, 0.911); */
   
    color: rgb(27, 26, 26);
    border-left: 0px;
    border-right: 0px;

}    